<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/barut/IdeaProjects/B103TestNGProject/src/test/java/techproed/tests/smoketests">
        <packages>
            <!--            NOT: name gecerli bir klasor ismi olmali.
                                 klasorun PATH i root dosyasindan (techproed) baslamali
                            NOT: KAYDET. SAVE. -->
            <package name="techproed.tests.dataprovider"/>
            <package name="techproed.tests.smoketests"/>
        </packages>
    </test>
</suite>